Repository CSE498/CSE498-Spring2025, pull requests merged in 2025-02, with the labels that each got.

#23 Implemented DataGrid class, member functions, and simple tests
  Group-05/CMakeLists.txt
  Group-05/main.cpp
  Group-05/src/DataGrid.cpp
  Group-05/src/DataGrid.h
Labels: MERGE: READY

#43 hamilton - hamilton-datum-feature PR
  Group-05/main.cpp
  Group-05/src/Datum.cpp
  Group-05/src/Datum.h
Labels: Group 05

#50 Memo func branch into Bellman
  Group-10/Classes/MemoFunction.cpp
  Group-10/Classes/MemoFunction.h
Labels: MERGE: READY, Group 10

#48 MemoryFactory Initial Work and Test
  Group-10/Classes/MemoryFactory.cpp
  Group-10/Classes/MemoryFactory.h
  tests/Group-10-Tests/Makefile
  tests/Group-10-Tests/MemoryFactory-Tests.cpp
Labels: MERGE: READY, Group 10

#45 Hamilton CSV
  .vscode/settings.json
  Group-05/CMakeLists.txt
  Group-05/main.cpp
  Group-05/src/CSVfile.cpp
  Group-05/src/CSVfile.h
  Group-05/src/DataGrid.h
Labels: Group 05

#68 Static Vector Class
  .gitignore
  Group-10/Classes/StaticVector.h
  tests/Group-10-Tests/TestStaticVector.cpp
  tests/Group-10-Tests/makefile
  tests/Group-10-Tests/test-TestStaticVector.out.dSYM/Contents/Info.plist
  tests/Group-10-Tests/test-TestStaticVector.out.dSYM/Contents/Resources/Relocations/aarch64/test-TestStaticVector.out.yml
Labels: MERGE: READY, Group 10

#52 Adding ComboManager functionality to Bellman
  ComboManager.h
Labels: Group 10

#75 FixedPoint class
  FixedPoint.cpp
  FixedPoint.h
Labels: Group 03

#78 Bellman ComboManager Fix for Submission
  Group-10/Classes/ComboManager.h
Labels: MERGE: READY, Group 10

#42 Stroustrup random push to dev branch
  Group-01/Random/Random.hpp
Labels: MERGE: READY, Group 01

#82 Bellman Makefile Fix
  tests/Group-10-Tests/Makefile
  tests/Group-10-Tests/TestMemoryFactory.cpp
  tests/Group-10-Tests/makefile
  tests/Group-10-Tests/test-TestStaticVector.out.dSYM/Contents/Info.plist
  tests/Group-10-Tests/test-TestStaticVector.out.dSYM/Contents/Resources/Relocations/aarch64/test-TestStaticVector.out.yml
Labels: MERGE: READY, Group 10, Goal: Refactor

#87 Created test cases and asserts for GraphPosition class
  Group-01/Graph/Vertex.hpp
  Group-01/GraphPosition/GraphPosition.cpp
  Group-01/GraphPosition/GraphPosition.hpp
  Group-01/GraphPosition/main.cpp
  tests/Group1/GraphPosition/GraphPosition.cpp
  tests/Group1/Makefile
Labels: MERGE: READY, Group 01

#94 Asserts and tests graph
  Group-01/Graph/Graph.cpp
  Group-01/Graph/Graph.hpp
  Group-01/Graph/Vertex.cpp
  Group-01/Graph/Vertex.hpp
  tests/Group1/Graph/Graph.cpp
  tests/Group1/Graph/Vertex.cpp
Labels: MERGE: READY, Group 01

#98 Added new changes to ComboManager and added the Test cpp file for it.
  Group-10/Classes/ComboManager.h
  tests/Group-10-Tests/Makefile
  tests/Group-10-Tests/TestComboManager.cpp
Labels: MERGE: READY, Group 10

#100 [hamilton] hamilton-datum-tests PR - Datum tests and asserts
  Group-05/main.cpp
  Group-05/src/Datum.cpp
  Group-05/src/Datum.h
  tests/Group-05/DatumTests.cpp
  tests/Group-05/Makefile
Labels: Group 05

#93 Hamilton CSV Tests Passed
  .vscode/settings.json
  Group-05/src/CSVfile.cpp
  Group-05/src/CSVfile.h
  tests/Group-05/CSVFileTests.cpp
  tests/Group-05/Makefile
Labels: Group 05

#96 Bellman memo function test
  Group-10/Classes/MemoFunction.cpp
  Group-10/Classes/MemoFunction.h
  tests/Group-10-Tests/Makefile
  tests/Group-10-Tests/TestMemoFunction.cpp
Labels: Group 10

#90 Test Cases and Class Edits for MemoryFactory
  Group-10/Classes/MemoryFactory.h
  tests/Group-10-Tests/Makefile
  tests/Group-10-Tests/TestMemoryFactory.cpp
Labels: MERGE: READY, Group 10

#105 Bellman brute force optimizer
  Group-10/Classes/BruteForceOptimizer.h
  tests/Group-10-Tests/Makefile
  tests/Group-10-Tests/TestBruteForceOptimizer.cpp
Labels: Group 10

#109 Adds loading and saving to file for Vertex and Edge
  Group-01/Graph/Edge.cpp
  Group-01/Graph/Edge.hpp
  Group-01/Graph/Graph.cpp
  Group-01/Graph/Graph.hpp
  Group-01/Graph/Vertex.cpp
  Group-01/Graph/Vertex.hpp
  Group-01/Util/Util.hpp
  tests/Group1/Graph/Edge.cpp
  tests/Group1/Graph/Graph.cpp
  tests/Group1/Graph/Vertex.cpp
  tests/Group1/Makefile
  tests/Group1/Utils/TestUtils.hpp
Labels: MERGE: READY, Group 01

#126 hamilton - hamilton-datum-final-updates
  .vscode/settings.json
  Group-05/CMakeLists.txt
  Group-05/main.cpp
  Group-05/src/Datum.cpp
  Group-05/src/Datum.h
  Group-05/src/ReferenceVector.cpp
  Group-05/src/ReferenceVector.h
  tests/Group-05/CSVFileTests.cpp
  tests/Group-05/DataGridTests.cpp
  tests/Group-05/DatumTests.cpp
  tests/Group-05/ReferenceVectorTests.cpp
  tests/Group-05/test-ParserTests.out.dSYM/Contents/Info.plist
Labels: Group 05

#121 Added a few more tests to MemoFunction
  tests/Group-10-Tests/TestMemoFunction.cpp
Labels: MERGE: READY, Group 10

#124 MemoryFactory Initial Class Final Changes
  Group-10/Classes/MemoryFactory.h
  tests/Group-10-Tests/TestMemoryFactory.cpp
Labels: MERGE: READY, Group 10

#129 Added more tests to TestComboManager.cpp and deleted ComboManager.cpp
  Group-10/Classes/ComboManager.cpp
  Group-10/Classes/ComboManager.h
  tests/Group-10-Tests/TestComboManager.cpp
Labels: MERGE: READY

#85 Pull request test cases
  Group-01/Random/Random.hpp
  tests/Group1/Makefile
  tests/Group1/Random/Random.cpp
Labels: MERGE: READY, Group 01

#127 Added comments to StaticVector
  Group-10/Classes/StaticVector.h
Labels: MERGE: READY, Group 10

#134 Fixed bruteforce algorithm to incorporate value and weight
  Group-10/Classes/BruteForceOptimizer.cpp
  Group-10/Classes/BruteForceOptimizer.h
  tests/Group-10-Tests/TestBruteForceOptimizer.cpp
Labels: MERGE: READY, Group 10

#138 Deleted an extra ComboManager.h that was in the main CSE498 folder
  ComboManager.h
Labels: MERGE: READY, Group 10

#142 [hamilton] - Hamilton datum updates
  .DS_Store
  Group-05/.DS_Store
  Group-05/CMakeLists.txt
  Group-05/main.cpp
  Group-05/src/Datum.cpp
  Group-05/src/Datum.h
  tests/Group-05/DatumTests.cpp
Labels: Group 05

#153 Made Changes to ComboManager
  Group-10/Classes/ComboManager.h
Labels: MERGE: READY
