Repository CSE498/CSE498-Spring2025, pull requests merged in 2025-03, with the labels that each got.

#148 feat: add advanced specs information
  Group-01/Graph/Edge.cpp
  Group-01/Graph/Edge.hpp
  Group-01/Graph/Graph.cpp
  Group-01/Graph/Graph.hpp
  Group-01/Graph/README.md
  Group-01/Graph/Vertex.cpp
  Group-01/Graph/Vertex.hpp
  tests/Group1/Graph/Graph.cpp
Labels: MERGE: READY, Group 01

#131 Stroustrup dev branch
  .gitignore
  Group-01/.clang-format
  Group-01/Distribution/Distribution.hpp
  Group-01/Distribution/README.md
  Group-01/Graph/Edge.cpp
  Group-01/Graph/Edge.hpp
  Group-01/Graph/Graph.cpp
  Group-01/Graph/Graph.hpp
  Group-01/Graph/README.md
  Group-01/Graph/Vertex.cpp
  Group-01/Graph/Vertex.hpp
  Group-01/GraphPosition/AdvancedSpecs.md
  Group-01/GraphPosition/GraphPosition.cpp
  Group-01/GraphPosition/GraphPosition.hpp
  Group-01/GraphPosition/main.cpp
  Group-01/Random/Random.hpp
  Group-01/Util/Util.hpp
  Group-01/WeightedSet/WeightedSet.cpp
  Group-01/WeightedSet/WeightedSet.hpp
  Group-01/WeightedSet/main.cpp
  tests/Group1/Distribution/Distribution.cpp
  tests/Group1/Graph/Edge.cpp
  tests/Group1/Graph/Graph.cpp
  tests/Group1/Graph/Vertex.cpp
  tests/Group1/GraphPosition/GraphPosition.cpp
  tests/Group1/Makefile
  tests/Group1/Random/Random.cpp
  tests/Group1/Utils/TestUtils.hpp
  tests/Group1/WeightedSet/WeightedSet.cpp
Labels: Group 01

#77 [Ritchie] Advanced classes specification + Final working initial classes + Testing
  .gitignore
  Group-02/.clang-format
  Group-02/.clang-tidy
  Group-02/.gitignore
  Group-02/AdvancedSpecs.md
  Group-02/CMakeLists.txt
  Group-02/Doxyfile
  Group-02/InitialSpecs.md
  Group-02/LICENSE
  Group-02/include/cse/ActionMap.h
  Group-02/include/cse/AuditedVector.h
  Group-02/include/cse/DataMap.h
  Group-02/include/cse/StateGrid.h
  Group-02/include/cse/StateGridPosition.h
  Group-02/src/app/CMakeLists.txt
  Group-02/src/app/main.cpp
  Group-02/src/cse/ActionMap.cpp
  Group-02/src/cse/AuditedVector.cpp
  Group-02/src/cse/CMakeLists.txt
  Group-02/src/cse/DataMap.cpp
  Group-02/src/cse/StateGrid.cpp
  Group-02/src/cse/StateGridPosition.cpp
  tests/Example/TestFile1.cpp
  tests/Group-02/.clang-format
  tests/Group-02/ActionMapTest.cpp
  tests/Group-02/AdvDataMapTest.cpp
  tests/Group-02/AdvStateGridTest.cpp
  tests/Group-02/AuditedVectorDebugTest.cpp
  tests/Group-02/AuditedVectorReleaseTest.cpp
  tests/Group-02/DataMapTest.cpp
  tests/Group-02/Makefile
  tests/Group-02/StateGridPositionTest.cpp
  tests/Group-02/StateGridTest.cpp
  tests/Makefile
  third-party/Catch/CMake/llvm-cov-wrapper
  third-party/Catch/projects/TestScripts/testRandomOrder.py
  third-party/Catch/scripts/approvalTests.py
  third-party/Catch/scripts/approve.py
  third-party/Catch/scripts/benchmarkCompile.py
  third-party/Catch/scripts/benchmarkRunner.py
  third-party/Catch/scripts/developBuild.py
  third-party/Catch/scripts/embedClara.py
  third-party/Catch/scripts/fixWhitespace.py
  third-party/Catch/scripts/generateSingleHeader.py
  third-party/Catch/scripts/majorRelease.py
  third-party/Catch/scripts/minorRelease.py
  third-party/Catch/scripts/patchRelease.py
  third-party/Catch/scripts/releaseNotes.py
  third-party/Catch/scripts/updateDocumentToC.py
Labels: MERGE: READY, Group 02

#136 Hopper
  Group-03/Advanced classes specs 498 Hopper.pdf
  Group-03/Feedback/2025-02-02-InitialSpec.md
  Group-03/Project.md
  Group-03/Team Agreement for Hopper.pdf
  Group-03/Tests/Circle.cpp
  Group-03/Tests/CircleAdvanced.cpp
  Group-03/Tests/DataTracker.cpp
  Group-03/Tests/DataTrackerAdvanced.cpp
  Group-03/Tests/FixedPoint.cpp
  Group-03/Tests/FunctionSet.cpp
  Group-03/Tests/Makefile
  Group-03/Tests/Surface.cpp
  Group-03/Write-up for Initial Class Development.pdf
  Group-03/src/Circle.cpp
  Group-03/src/Circle.h
  Group-03/src/DataTracker.cpp
  Group-03/src/DataTracker.h
  Group-03/src/FixedPoint.cpp
  Group-03/src/FixedPoint.h
  Group-03/src/FunctionSet.cpp
  Group-03/src/FunctionSet.h
  Group-03/src/Sector.cpp
  Group-03/src/Sector.h
  Group-03/src/Surface.cpp
  Group-03/src/Surface.h
  tests/Group-01/Distribution/Distribution.cpp
  tests/Group-01/Graph/Edge.cpp
  tests/Group-01/Graph/Graph.cpp
  tests/Group-01/Graph/Vertex.cpp
  tests/Group-01/GraphPosition/GraphPosition.cpp
  tests/Group-01/Makefile
  tests/Group-01/Random/Random.cpp
  tests/Group-01/Utils/TestUtils.hpp
  tests/Group-01/WeightedSet/WeightedSet.cpp
  tests/Group-03/Circle.cpp
  tests/Group-03/CircleAdvanced.cpp
  tests/Group-03/DataTracker.cpp
  tests/Group-03/DataTrackerAdvanced.cpp
  tests/Group-03/FixedPoint.cpp
  tests/Group-03/FunctionSet.cpp
  tests/Group-03/Makefile
  tests/Group-03/Surface.cpp
  tests/Makefile
Labels: Group 03

#137 Group 4 Classes
  Group-04/.clang-format
  Group-04/.gitignore
  Group-04/Makefile
  Group-04/Makefile.logic
  Group-04/bin/main.cpp
  Group-04/lib/BitVector.hpp
  Group-04/lib/CseAssert.hpp
  Group-04/lib/CseString.hpp
  Group-04/lib/IndexSet.hpp
  Group-04/lib/RichText.hpp
  Group-04/meta/Advanced Write Up - Group 4.docx
  Group-04/meta/Feedback/2025-02-02-InitialSpec.md
  Group-04/meta/Project.md
  Group-04/meta/Team Agreement.pdf
  Group-04/meta/Write_Up.md
  tests/Group-04/.gitignore
  tests/Group-04/Assert.cpp
  tests/Group-04/BVOps.cpp
  tests/Group-04/BVSize.cpp
  tests/Group-04/CseString.cpp
  tests/Group-04/IndexSet.cpp
  tests/Group-04/Makefile
  tests/Group-04/RichText.cpp
  tests/Group-04/RichTextAdvanced.cpp
  tests/Group-04/TextSerializer.cpp
  tests/Makefile
Labels: MERGE: READY, Group 04

#135 [hamilton] Code Review PR
  Group-05/.gitignore
  Group-05/CMakeLists.txt
  Group-05/docs/Advanced Class Specs - Group 5 Hamilton (CSE 498).pdf
  Group-05/src/CSVfile.cpp
  Group-05/src/CSVfile.h
  Group-05/src/DataGrid.cpp
  Group-05/src/DataGrid.h
  Group-05/src/Datum.cpp
  Group-05/src/Datum.h
  Group-05/src/ExpressionParser.cpp
  Group-05/src/ExpressionParser.h
  Group-05/src/ReferenceVector.h
  tests/Group-05/.gitignore
  tests/Group-05/CSVFileTests.cpp
  tests/Group-05/DataGridTests.cpp
  tests/Group-05/DatumTests.cpp
  tests/Group-05/ExpressionParserTests.cpp
  tests/Group-05/Makefile
  tests/Group-05/ReferenceVectorTests.cpp
  tests/Makefile
Labels: MERGE: READY, Group 05

#130 Team07 initial working version + tests + docs
  Group-07/.gitignore
  Group-07/CMakeLists.txt
  Group-07/Data/sample.csv
  Group-07/Team07Library/AuditedArray.cpp
  Group-07/Team07Library/AuditedArray.h
  Group-07/Team07Library/CMakeLists.txt
  Group-07/Team07Library/DataFileManager.cpp
  Group-07/Team07Library/DataFileManager.h
  Group-07/Team07Library/OutputLog.cpp
  Group-07/Team07Library/OutputLog.h
  Group-07/Team07Library/Scheduler.cpp
  Group-07/Team07Library/Scheduler.h
  Group-07/Team07Library/Serializer.cpp
  Group-07/Team07Library/Serializer.h
  Group-07/Tests/OutputLogTest.cpp
  Group-07/Tests/SerializerTest.cpp
  Group-07/documents/Feedback/2025-02-02-InitialSpec.md
  Group-07/documents/Specs for Advanced Classes.md
  Group-07/documents/inital_specs.md
  Group-07/documents/team_agreement.md
  Group-07/main.cpp
  tests/.gitignore
  tests/Group-07/.gitignore
  tests/Group-07/AuditedArrayTest.cpp
  tests/Group-07/DataFileManagerTest.cpp
  tests/Group-07/Makefile
  tests/Group-07/OutputLogTest.cpp
  tests/Group-07/SchedulerTest.cpp
  tests/Group-07/SerializerTest.cpp
  tests/Group-07/TestFile1.cpp
  tests/Group-07/TestFile2.cpp
  tests/Makefile
Labels: MERGE: READY, Group 07

#155 Turing - Reviewed Classes and Specs/Tests for Adv Classes
  .DS_Store
  .vscode/settings.json
  Group-08/Class_Specs/CSE 498 - Advanced Class Specs.pdf
  Group-08/Dev/.DS_Store
  Group-08/Dev/.vscode/settings.json
  Group-08/Dev/.vscode/tasks.json
  Group-08/Dev/Advanced Tests/AnnotatedWrapperAdvancedTest.cpp
  Group-08/Dev/Advanced Tests/AuditedPointerAdvancedTest.cpp
  Group-08/Dev/Advanced Tests/Makefile
  Group-08/Dev/AnnotatedWrapper/.DS_Store
  Group-08/Dev/AnnotatedWrapper/AnnotatedWrapper.cpp
  Group-08/Dev/AnnotatedWrapper/AnnotatedWrapper.h
  Group-08/Dev/AnnotatedWrapper/main.cpp
  Group-08/Dev/AuditedPointer/AuditedPointer.cpp
  Group-08/Dev/AuditedPointer/AuditedPointer.h
  Group-08/Dev/AuditedPointer/main.cpp
  Group-08/Dev/DynamicString/DynamicString.cpp
  Group-08/Dev/DynamicString/DynamicString.h
  Group-08/Dev/RandomAccessSet/RandomAccessSet.hpp
  Group-08/Dev/TagManager/TagManager.cpp
  Group-08/Dev/TagManager/TagManager.h
  Group-08/Dev/Tests/.DS_Store
  Group-08/Dev/Tests/AnnotatedWrapperTest/.DS_Store
  Group-08/Dev/Tests/AnnotatedWrapperTest/AnnotatedWrapperTest.cpp
  Group-08/Dev/Tests/AnnotatedWrapperTest/Makefile
  Group-08/Dev/Tests/AuditedPointerTest/AuditedPointerDebugTest.cpp
  Group-08/Dev/Tests/AuditedPointerTest/AuditedPointerNonDebugTest.cpp
  Group-08/Dev/Tests/AuditedPointerTest/Makefile
  Group-08/Dev/Tests/DynamicStringTest/DynamicStringTest.cpp
  Group-08/Dev/Tests/DynamicStringTest/Makefile
  Group-08/Dev/Tests/Makefile
  Group-08/Dev/Tests/RandomAccessSetTest/Makefile
  Group-08/Dev/Tests/RandomAccessSetTest/RandomAccessSetTest.cpp
  Group-08/Dev/Tests/TagManagerTest/Makefile
  Group-08/Dev/Tests/TagManagerTest/TagManagerTest.cpp
  Group-08/Dev/main.cpp
Labels: MERGE: NOT READY, Group 08

#158 graph corrections and initial advanced
  Group-01/Graph/Edge.cpp
  Group-01/Graph/Edge.hpp
  Group-01/Graph/Graph.cpp
  Group-01/Graph/Graph.hpp
  Group-01/Graph/README.md
  Group-01/Graph/Vertex.cpp
  Group-01/Graph/Vertex.hpp
  Group-01/GraphPosition/GraphPosition.cpp
  Group-01/GraphPosition/GraphPosition.hpp
  tests/Group-01/Graph/Edge.cpp
  tests/Group-01/Graph/Graph.cpp
  tests/Group-01/Graph/Vertex.cpp
  tests/Group-01/GraphPosition/GraphPosition.cpp
Labels: Group 01

#151 EventManager: Updated based on code reviews
  Group-09/EventManager/EventManager.cpp
  Group-09/EventManager/EventManager.hpp
  tests/Group-09/TestEventManager.cpp
Labels: Group 09

#146 Initial Advanced Class Specs & Tests
  Group-10/Advanced Class Write-Up.md
  tests/Group-10-Tests/TestBruteForceOptimizer.cpp
  tests/Group-10-Tests/TestComboManager.cpp
Labels: MERGE: READY, Group 10

#166 [hamilton] DataGrid advance class updates
  Group-05/src/DataGrid.cpp
  Group-05/src/DataGrid.h
  Group-05/src/Datum.cpp
  Group-05/src/Datum.h
  tests/Group-05/DataGridMathTests.cpp
  tests/Group-05/DataGridTests.cpp
  tests/Group-05/DatumTests.cpp
  tests/Group-05/Makefile
Labels: Group 05

#152 Updated WebLayout Class
  Group-09/WebLayout/WebLayout.cpp
  Group-09/WebLayout/WebLayout.h
  Group-09/WebLayout/index.html
  Group-09/WebLayout/main.cpp
  tests/Group-09/TestWebLayout.cpp
Labels: Group 09

#171 Liskov - Shift to single threaded and function based EventManager
  Group-09/EventManager/EventManager.cpp
  Group-09/EventManager/EventManager.hpp
  tests/Group-09/TestEventManager.cpp
Labels: Group 09

#172 Web Manager | Ability to advance/rewind slides
  Group-09/Image/image.cpp
  Group-09/Image/image.hpp
  Group-09/WebLayout/WebLayout.cpp
  Group-09/WebLayout/WebLayout.h
  Group-09/WebLayout/WebLayoutManager.cpp
  Group-09/WebLayout/WebLayoutManager.h
  Group-09/WebLayout/index.html
  Group-09/WebLayout/main.cpp
  tests/Group-09/TestWebLayout.cpp
Labels: Group 09

#178 [hamilton] DataGrid Updates
  Group-05/src/DataGrid.cpp
  Group-05/src/DataGrid.h
  tests/Group-05/DataGridTests.cpp
  tests/Group-05/Makefile
Labels: Group 05

#179 Updated Event to store params and call function with execute. Fixed E…
  Group-09/Event/Event.hpp
  Group-09/EventManager/EventManager.hpp
  Group-09/EventQueue/EventQueue.hpp
  Group-09/PresentationManager/PresentationManager.cpp
  Group-09/PresentationManager/PresentationManager.h
  tests/Group-09/TestEvent.cpp
  tests/Group-09/TestEventManager.cpp
  tests/Group-09/TestEventQueue.cpp
Labels: Group 09

#177 Custom errors for graph
  Group-01/Graph/Edge.hpp
  Group-01/Graph/Graph.hpp
  Group-01/Graph/GraphExceptions.hpp
  Group-01/Graph/Vertex.hpp
  tests/Group-01/Graph/Edge.cpp
  tests/Group-01/Graph/Graph.cpp
  tests/Group-01/Graph/Vertex.cpp
Labels: MERGE: READY, Group 01

#180 Added saving and loading slide deck functionality
  Group-09/TextBox/TextBox.hpp
  Group-09/WebLayout/ExportSlideDeck.cpp
  Group-09/WebLayout/LoadSlideDeck.cpp
  Group-09/WebLayout/WebLayoutManager.cpp
  Group-09/WebLayout/WebLayoutManager.h
  Group-09/WebLayout/index.html
  Group-09/WebLayout/main.cpp
  Group-09/utils/nlohmann/json.hpp
Labels: Group 09
