Repository CSE498/CSE498-Spring2025, pull requests merged in 2025-01, with the labels that each got.

#6 Team Agreement / Initial Specs - Group 9
  Group-09/Liskov-Initial Specs.md
  Group-09/Team Agreement for Group 9_ Liskov.pdf
Labels: MERGE: READY, Group 09

#11 Ritchie Group 2 (Added Team Agreement and Initial Spec md)
  Group-02/InitialSpecs.md
  Group-02/TeamAgreement.md
Labels: MERGE: READY, Group 02

#10 [Torvalds (4)] Team agreement + writeup
  Group-04/Team Agreement.pdf
  Group-04/Write_Up.md
Labels: MERGE: READY, Group 04

#13 Turing Class Write-Ups and Team Agreement
  Group-08/Class_Specs/AnnotatedWrapper.pdf
  Group-08/Class_Specs/AuditedPointer.pdf
  Group-08/Class_Specs/DynamicString.pdf
  Group-08/Class_Specs/RandomAccessSet.pdf
  Group-08/Class_Specs/TagManager.pdf
  Group-08/Team_Agreement/Team Agreement for Project Turing.pdf
Labels: MERGE: READY

#9 [Bellman] Initial Team Agreement and Class Write-Ups
  Group-10/Class Write-Up.md
  Group-10/Team Agreement.md
Labels: MERGE: READY, Group 10

#5 Team Hamilton Group 5 - Pull Request
  Group-05/Project.md
  Group-05/docs/Hamilton Class Spec - Group 5 CSE 498.pdf
  Group-05/docs/Hamilton Team Agreement - Group 5 CSE 498.pdf
Labels: MERGE: READY, Group 05
